section
    h1 Go Programming Language
    h3 Introduction

section
    section
        h2 Javascript
        img(src="src/images/jsgolf.jpg")
        p This is Javascript. If you put big wheels and a racing stripe on a golf cart, it's still a fucking golf cart.
        br
        small
            a(href="http://crashworks.org/if_programming_languages_were_vehicles/" target="_blank") @source: if programming languages were vehicles

    section
        h2 WAT
        pre
            code.hljs.javascript.
                2 == [2];
                // true

                2 == [[2]];
                // true

                [] + [];
                // ""

                [] + {};
                // "[object Object]"

                {} + [];
                // 0

section
    h2 This is all for now...

section
    h2 Thanks!













